h1{
    color: black;
    text-align: center;
}

.flex{
    height: 300px;
    width: 80%;
    border: 2px solid black;
    background-color: azure;
    border: 2px solid black;
    margin: 10px auto;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    align-content: space-around;
    
}
#box{
    height:100px;
    width: 300px;
    /* border: 2px solid black; */
    color: black;
    background-color:white;
    
}