p {
    color:#964B00;
    line-height: 30PX;
}

h3 {
    color: black;
}

body {
    text-align: center;
    font-family: Georgia;
}

button {
    background-color: white;
    color: blueviolet;
}

textarea {
    color:"black";
}

a {
    text-decoration: none;
    color: rgb(0, 128, 0);
}

.poemName {
    text-decoration: underline;
}