<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Mini Whatsapp
    </title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h3>All Chats</h3>
    <form method="get" action="/chats/new">
        <button>New Chat</button>
        <br/>
    </form>
    <% for(let chat of chats) { %>
        <div class="chat">
            <p>  From : <i><%= chat.from %> </i>
            </p>
            <div class="msg">
                <form method="GET" action="/chats<%=/chats._id%>/edit">
                    <button>Edit</button>
                </form>
                <p>
                    <%= chat.msg %>
                </p>
            </div>
            <p> Received by <i><%= chat.to %> </i>
            </p>
            <hr/>
       
        </div>
        <br><br>
        <% } %>
</body>

</html>