.box{
    height: 100px;
    width: 300px;
    background-color: pink;
    animation-name: colAnimate;
    /* animation-name: colorAnimate; */
    /* animation-name: fontAnimation; */
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: normal;
    /* animation: widthAnimate 3s ease-in 0s infinite normal; */
}

@keyframes colAnimate{
  0%{
        /* width: 10px; */
        background-color: gray;
    }
    50%{
        /* width: 400px; */
        background-color: blue;
        /* border: radius 10px; ; */
    }
    100%{
        background-color: red;
    }
}
@keyframes fontAnimation {
    from{font-size: 20px;}
    to{
        font-size: 40px;
    }
}

@keyframes colorAnimate {
    from { 
        background-color: green;
    }
    to {
        background-color: blue;
    }
}