<% layout("/layouts/boilerPlate") %>
    <div class="row mt-3">
        <div class="col-8" offset-2>
    <h3>Create a New Listing</h3>
   
    <form method="post" action="/listings" novalidate class="needs-validation">
        <div class="mg-3"><label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mg-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="enter description" type="text"
                class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short Description</div>
        </div>
        <div  class="mg-3">
            <label for="image" class="form-label" class="form-label">Image</label>
            <input name="listing[image]" placeholder="enter image url/links" type="text" class="form-control">
        </div>
        <div class="row">
            <div  class="mg-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="1200" class="form-control" required>
                <div class="invalid-feedback">Please enter valid Price</div>
            </div>
            <div  class="mg-3 col-8">
                <label for="country" class="form-label" class="form-label">Country</label>
                <input name="listing[country]" value="India" type="text" class="form-control" required> 
                <div class="invalid-feedback">Please enter valid Country name</div>
            </div>
        </div>
       
        <div  class="mg-3">
            <label for="location" class="form-label" class="form-label">Location</label>
            <input name="listing[location]" value=" jaipur, Rajasthan" type="text" class="form-control" required>
            <div class="invalid-feedback">Please enter valid Location</div>
        
        </div>

        <button class="btn btn-dark add-btn mt-3">Add </button>
    </div>
    </form>
</div>