<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3><% 3*7 %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
        omnis sed sint tenetur quaerat eaque nostrum sit, vel error! 
        Corrupti corporis ea dolorum nisi suscipit animi quidem magni ab vero!</p>
<button>click me!</button>
</body>
</html>