div{
    height: 100px;
    width: 100px;
    background-color: pink;
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
    
}

div:hover{
    background-color: green;
    margin-top: 400px;
    
}